body {
    background-color: white; 
    font-family: 'Indie Flower', cursive;
    background-image: url("http://www.vp69.navy.mil/images/1920x1080.jpg");
} 

.left { 
    float: left; 
  width:50% ; 
  display:flex;
  flex-direction:column ;
 justify-content:center;
 
}  

.right { 
    float: right;
    
    width: 50%;
  
} 

.main { 
    display:flex;  
} 

.avatar { 
    position:fixed;
   height: 600px;
   width: 500px;
   top:10px;
   left:56px;
   
} 

.title{
    text-align: center;
    font-size: 260%;
     background-color:teal;
     color: yellow;
 } 
 
 h1 { 
     color:black;
     text-align: center;
     font-size: 100px; 
    font-family: 'Indie Flower', cursive;
    position:fixed;
    bottom: -50px;
 } 
 
 h2 {
     position: fixed;
     bottom:-5px;
     left:10px;
 }

 
 .red-jersey {
     width: 200px;
     margin-left: -10px;
 }
 .black-skirt{
     width:265px;
     margin-left: -0px;
 }
 .black-shirt {
     width: 250px;
     margin-left:-10px;
 }
 
 .black-pants{
     height: 150px;
 }
 
.name{
    color: teal;
}

.red-hat {
    margin-top:10px;
}

.red-shorts {
    margin-left:45px;
}

.yellow-kicks {
    margin-top:50px;
}

.blue-kicks {
    margin-top:50px;
}